<div widget class="card">
    <div class="card-header">
        <span translate>Notification subscriptions</span>
        <div class="widget-controls">
            <!--<a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>-->
            <!--<a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>-->
            <!--<a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>-->
            <!--<a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>-->
            <!--<a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>-->
        </div>
    </div>
    <div class="card-body widget-body">
        <form>
            <table>
                <tr *ngFor="let m of models; let i = index;">
                    <td>
                        <img [src]="m.typeModel.image" class="notification-image"/>
                    </td>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input id="nt-checkbox-{{i}}" type="checkbox" class="custom-control-input"
                                   [checked]="m.subscribed" (change)="changeSubscription($event, m)">
                            <label class="custom-control-label" for="nt-checkbox-{{i}}"
                                   translate>notification.{{m.typeModel.key}}</label>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

