
<div widget class="card bottom-30">
  <div class="card-header">
    <span translate>nav.weather-history</span>
  </div>
  <div class="card-body widget-body">
    <div class="form-group row">
        <div class="col-sm-6">
          <label for="exampleSelect3">Location</label>
          <select class="form-control custom-select" id="exampleSelect3">
            <option disabled>Farm locations</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div class="col-sm-3">
          <label for="input-12">Date</label>
          <input type="date" class="form-control" value="2011-08-19" id="input-12">
        </div>

        <div class="col-sm-3">
          <label for="input-13">Date</label>
          <input type="date" class="form-control" value="2011-08-19" id="input-13">
        </div>
    </div>
    <div class="row">
      <div  *ngFor="let forecast of forecastModels;" class="col-xl-2 col-lg-2">
          <app-weather-day-card [weather]="forecast">
          </app-weather-day-card>
      </div>
    </div>
    <hr/>
    <div class="row">
      <app-weather-chart *ngIf="historyModels" [models]="historyModels"></app-weather-chart>
    </div>
  </div>

</div>