<div widget class="card bottom-30">
    <div class="card-header">
        <span translate>nav.sowing</span>
        <div class="widget-controls">
            <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
            <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
            <a data-widgster="fullscreen" href="#" class="transition" (click)="adjustGridSize()"><i class="fa fa-expand"></i></a>
            <a data-widgster="restore" href="#" class="transition" (click)="adjustGridSize()"><i class="fa fa-compress"></i></a>
            <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
        </div>
    </div>
    <div class="card-body widget-body">

    </div>
</div>