<div class="card" *ngIf="model">
    <div class="card-header">
        <span translate>info.information</span>
        <div class="widget-controls">
            <a href="#" (click)="close($event)"><i class="fa fa-times"></i></a>
        </div>
    </div>
    <div class="card-body p-1">
        <table class="table table-bordered table-hover small-table">
            <tr>
                <td translate>info.name</td>
                <td>{{ model.name }}</td>
            </tr>
            <tr>
                <td translate>parcel.cadaster-number</td>
                <td>{{ model.cadasterNumber }}</td>
            </tr>
            <tr>
                <td translate>parcel.land-worthiness-points</td>
                <td>{{ model.landWorthinessPoints }}</td>
            </tr>
            <tr>
                <td translate>parcel.area</td>
                <td>{{ model.area }}</td>
            </tr>
            <tr>
                <td translate>info.description</td>
                <td>{{ model.description }}</td>
            </tr>

            <tr>
                <td translate>crop.name</td>
                <td>{{ model.cropName }}</td>
            </tr>

            <tr>
                <td translate>parcel.planted-at</td>
                <td>{{ model.plantedAt | date : 'dd/MM/yyyy' }}</td>
            </tr>

            <tr>
                <td translate>parcel.rows-count</td>
                <td>{{ model.rowsOnParcel }}</td>
            </tr>

            <tr>
                <td translate>parcel.plants-count</td>
                <td>{{ model.plantsOnRow }}</td>
            </tr>

            <tr>
                <td translate>parcel.space-between-rows</td>
                <td>{{ model.spaceBetweenRows }}</td>
            </tr>

            <tr>
                <td translate>parcel.space-between-plants</td>
                <td>{{ model.spaceBetweenPlants }}</td>
            </tr>

            <tr>
                <td translate>parcel.last-work</td>
                <td>{{ model.lastWorkType }}</td>
            </tr>

            <tr>
                <td translate>parcel.last-work-date</td>
                <td>{{ model.lastWorkDate | date : 'dd/MM/yyyy' }}</td>
            </tr>

        </table>

    </div>
</div>



