<form [formGroup]="form" *ngIf="model" (keydown.enter)="$event.preventDefault()">

    <div widget class="card bottom-30">
        <div class="card-header">
            <span translate>expenses.sowing</span>
        </div>
        <div class="card-body widget-body">

            <div class="form-group row">
                <div class="col-sm-6">
                    <label for="expense-date" translate>expenses.date</label>
                    <input id="expense-date" type="date" class="form-control checking-field"
                           formControlName="expenseDate"/>
                    <app-form-error-block [control]="form.get('expenseDate')"
                                          [formSubmitted]="submitted">
                    </app-form-error-block>
                </div>
                <div class="col-sm-6">
                    <label translate>unit-of-measure.unit-long</label>
                    <select class="form-control checking-field" formControlName="unitOfMeasure">
                        <option value="kg" translate>unit-of-measure.kg</option>
                        <option value="su" translate>unit-of-measure.su</option>
                        <option value="t" translate>unit-of-measure.t</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6">
                    <label translate>crop.name</label>
                    <select class="form-control custom-select" formControlName="cropId" (change)="onCropChange()">
                        <option *ngFor="let crop of crops" [ngValue]="crop.id">{{crop.itemName}}</option>
                    </select>
                    <app-form-error-block [control]="form.get('cropId')"
                                          [formSubmitted]="submitted">
                    </app-form-error-block>
                </div>
                <div class="col-sm-6">
                    <label translate>crop.variety</label>
                    <select class="form-control custom-select" formControlName="cropVarietyModel">
                        <option *ngFor="let v of cropVarieties" [ngValue]="v.id">{{v.itemName}}</option>
                    </select>
                    <app-form-error-block [control]="form.get('cropVarietyModel')"
                                          [formSubmitted]="submitted">
                    </app-form-error-block>
                </div>
            </div>

            <div class="form-group">
                <label translate>parcel.parcels</label>
                <angular2-multiselect [settings]="multiSelectSettings"
                                      [data]="parcels"
                                      formControlName="parcels">
                </angular2-multiselect>
            </div>

            <div class="form-group">
                <label for="parcel-area" translate>parcel.area</label>
                <input id="parcel-area" type="number" class="form-control checking-field"
                       formControlName="area" (change)="onAriaChange()">
                <app-form-error-block [control]="form.get('area')"
                                      [formSubmitted]="submitted">
                </app-form-error-block>
            </div>

            <div class="form-group">
                <fieldset class="border p-2">
                    <legend class="w-auto" translate>expenses.norm-at</legend>
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="norm-sown-1-ha" translate>parcel.one-ha</label>
                            <input id="norm-sown-1-ha"  type="number" class="form-control checking-field"
                                   formControlName="normSown1Ha" (change)="onNormChange()">
                            <app-form-error-block [control]="form.get('normSown1Ha')"
                                                  [formSubmitted]="submitted">
                            </app-form-error-block>
                        </div>
                        <div class="col-sm-6">
                            <label for="norm-sown-1-ha-total" translate>parcel.total-ha</label>
                            <input id="norm-sown-1-ha-total" class="form-control-plaintext" readonly
                                   formControlName="normSownTotal">
                            <app-form-error-block [control]="form.get('normSownTotal')"
                                                  [formSubmitted]="submitted">
                            </app-form-error-block>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="form-group">
                <fieldset class="border p-2">
                    <legend class="w-auto" translate>expenses.sowing</legend>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label for="actual-sown-1-ha" translate>parcel.one-ha</label>
                            <input id="actual-sown-1-ha"  type="number" class="form-control checking-field"
                                   formControlName="actualSown1Ha" (change)="onActualExpenseChange()">
                            <app-form-error-block [control]="form.get('actualSown1Ha')"
                                                  [formSubmitted]="submitted">
                            </app-form-error-block>
                        </div>
                        <div class="col-sm-6">
                            <label for="actual-sown-1-ha-total" translate>parcel.total-ha</label>
                            <input id="actual-sown-1-ha-total" class="form-control-plaintext" readonly
                                   formControlName="actualSownTotal">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label for="unit-price" translate>expenses.unit-cost</label>
                            <input id="unit-price" type="number" class="form-control checking-field"
                                   formControlName="unitPrice" (change)="onActualExpenseChange()">
                            <app-form-error-block [control]="form.get('unitPrice')"
                                                  [formSubmitted]="submitted">
                            </app-form-error-block>
                        </div>
                        <div class="col-sm-6">
                            <label for="total-amount" translate>expenses.total-cost</label>
                            <input id="total-amount" class="form-control-plaintext" readonly
                                   formControlName="totalAmount">
                        </div>
                    </div>

                </fieldset>
            </div>


            <div class="form-group">
                <button class="btn btn-danger" *ngIf="model.expenseId != null" (click)="prepareRemove()" translate>
                    action.remove
                </button>
                <button class="btn btn-success pull-right" (click)="save()" translate>action.save</button>
                <button class="btn btn-default mr-1 pull-right" (click)="back()" translate>action.back</button>
            </div>

        </div>
    </div>

    <app-confirmation-modal [id]="confirmationModalId" (confirmed)="remove()"></app-confirmation-modal>

</form>