<form [formGroup]="form" *ngIf="model" (keydown.enter)="$event.preventDefault()">

    <div widget class="card bottom-30">
        <div class="card-header">
            <span translate>expenses.agricultural-machinery</span>
            <!--<div class="widget-controls">-->
                <!--&lt;!&ndash;<a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>&ndash;&gt;-->
                <!--&lt;!&ndash;<a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>&ndash;&gt;-->
                <!--&lt;!&ndash;<a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>&ndash;&gt;-->
                <!--&lt;!&ndash;<a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>&ndash;&gt;-->
                <!--<a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>-->
            <!--</div>-->
        </div>
        <div class="card-body widget-body">


            <div class="form-group row">
                <div class="col-sm-6">
                    <label for="expense-title" translate>info.description</label>
                    <input id="expense-title" class="form-control checking-field" formControlName="title" />
                    <app-form-error-block [control]="form.get('title')"
                                          [formSubmitted]="submitted">
                    </app-form-error-block>
                </div>

                <div class="col-sm-6">
                    <label for="expense-date" translate>expenses.date</label>
                    <input id="expense-date" type="date" class="form-control checking-field" formControlName="expenseDate" />
                    <app-form-error-block [control]="form.get('expenseDate')"
                                          [formSubmitted]="submitted">
                    </app-form-error-block>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6">
                    <label translate>machine.agricultural-machinery</label>
                    <angular2-multiselect [settings]="multiSelectSettings"
                                          [data]="machines"
                                          (onDeSelect)="resetUnlinkedEmployees()"
                                          formControlName="machines">
                    </angular2-multiselect>

                </div>
                <div class="col-sm-6">
                    <label translate>employee.employees</label>
                    <angular2-multiselect [settings]="multiSelectSettings"
                                          [data]="employees"
                                          formControlName="employees">
                    </angular2-multiselect>
                </div>
            </div>

            <div class="form-group">
                <app-expense-item-table [models]="model.expenseItems">
                </app-expense-item-table>
            </div>

            <div class="form-group">
                <button class="btn btn-danger" *ngIf="model.id != null" (click)="prepareRemove()" translate>action.remove</button>
                <button class="btn btn-success pull-right" (click)="save()" translate>action.save</button>
                <button class="btn btn-default mr-1 pull-right" (click)="back()" translate>action.back</button>
            </div>

        </div>
    </div>

    <app-confirmation-modal [id]="confirmationModalId" (confirmed)="remove()"></app-confirmation-modal>

</form>