<span class="help-block" *ngIf="control.errors && (control.touched || formSubmitted)">
    <span class="text-danger" *ngIf="control.hasError('required')"><strong>{{title}}</strong> is required</span>
    <span class="text-danger" *ngIf="control.hasError('unique')"><strong>{{title}}</strong> need be unique</span>
    <span class="text-danger" *ngIf="control.hasError('maxlength')"><strong>{{title}}</strong> max length is {{control.getError('maxlength').requiredLength}}</span>
    <span class="text-danger" *ngIf="control.hasError('minlength')"><strong>{{title}}</strong> min length is {{control.getError('minlength').requiredLength}}</span>
    <span class="text-danger" *ngIf="control.hasError('invalidFormat')">Invalid format for {{ title }}</span>
    <span class="text-danger" *ngIf="control.hasError('mismatchedPasswords')">Passwords do not match</span>
</span>
