.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
gradlew
gradlew.bat
gradle/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

inventory-app.iml

/files-directory/users

/frontend/node_modules
/frontend/package-lock.json
/frontend/npm-debug.log
/frontend/dist