<form [formGroup]="form" *ngIf="model" (keydown.enter)="$event.preventDefault()">

    <div widget class="card bottom-30">
        <div class="card-header">
            <span>Credentials</span>
            <div class="widget-controls">
                <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
                <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
            </div>
        </div>
        <div class="card-body widget-body">
            <div class="form-group row">
                <div class="col-sm-6">
                    <label for="username">Username</label>
                    <div>
                        <input id="username" class="form-control checking-field" formControlName="username"
                               (change)="validateUsernameToUnique()">
                        <form-error-block [control]="form.get('username')" [formSubmitted]="submitted"
                                          [title]="'Username'"></form-error-block>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label for="password">Password</label>
                    <div>
                        <input id="password" type="password" class="form-control checking-field"
                               autocomplete="new-password" formControlName="password">
                        <form-error-block [control]="form.get('password')" [formSubmitted]="submitted"
                                          [title]="'Password'"></form-error-block>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div widget class="card bottom-30">
        <div class="card-header">
            <span>Personal Data</span>
            <div class="widget-controls">
                <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
                <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
            </div>
        </div>
        <div class="card-body widget-body">
            <div class="form-group row">
                <div class="col-sm-6">
                    <label for="firstName">First Name</label>
                    <div>
                        <input id="firstName" class="form-control" formControlName="firstName">
                    </div>
                </div>
                <div class="col-sm-6">
                    <label for="lastName">Last Name</label>
                    <div>
                        <input id="lastName" class="form-control" formControlName="lastName">
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6">
                    <label for="idnp">IDNP</label>
                    <div>
                        <input id="idnp" class="form-control" formControlName="idnp">
                    </div>
                </div>
                <div class="col-sm-6">
                    <label for="birthDate">Birth Date</label>
                    <div>
                        <input id="birthDate" type="date" class="form-control" formControlName="birthDate">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div widget class="card bottom-30">
        <div class="card-header">
            <span>Contact Info</span>
            <div class="widget-controls">
                <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
                <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
            </div>
        </div>
        <div class="card-body widget-body">

            <div class="form-group row">
                <div class="col-sm-6">
                    <label for="email">Email</label>
                    <div>
                        <input id="email" class="form-control checking-field" formControlName="email">
                        <form-error-block [control]="form.get('email')" [formSubmitted]="submitted"
                                          [title]="'Email'"></form-error-block>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label for="address">Address</label>
                    <div>
                        <input id="address" class="form-control" formControlName="address">
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6">
                    <label for="phone">Phone</label>
                    <div>
                        <input id="phone" class="form-control" formControlName="phone">
                    </div>
                </div>
                <div class="col-sm-6">
                    <label for="mobilePhone">Mobile Phone</label>
                    <div>
                        <input id="mobilePhone" class="form-control" formControlName="mobilePhone">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div widget class="card">
        <div class="card-body">
            <button class="btn btn-danger" *ngIf="!isNew" (click)="remove()">Remove</button>
            <button class="btn btn-success pull-right" (click)="save(form)">Save</button>
        </div>
    </div>

</form>