<form [formGroup]="form" *ngIf="model" (keydown.enter)="$event.preventDefault()">

    <div widget class="card bottom-30">
        <div class="card-header">
            <span translate>crop.season</span>
            <div class="widget-controls">
                <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
            </div>
        </div>
        <div class="card-body widget-body">

            <div class="form-group row">
                <div class="col-sm-6">
                    <label for="harvestYear" translate>crop.harvest-year</label>
                    <select id="harvestYear" class="form-control custom-select">
                        <option disabled></option>
                        <option id="2017">2017</option>
                        <option id="2018">2018</option>
                        <option id="2019">2019</option>
                        <option id="2020">2020</option>
                        <option id="2021">2021</option>
                        <option id="2022">2022</option>
                        <option id="2023">2023</option>
                        <option id="2024">2024</option>
                        <option id="2025">2025</option>
                        <option id="2026">2026</option>
                        <option id="2027">2027</option>
                        <option id="2028">2028</option>
                        <option id="2029">2029</option>
                    </select>
                    <app-form-error-block [control]="form.get('harvestYear')" [formSubmitted]="submitted"></app-form-error-block>
                </div>

                <div class="col-sm-6">
                    <label for="cropCategoryId" translate>crop.category</label>
                    <select id="cropCategoryId" class="form-control custom-select" formControlName="cropCategoryId" (change)="onCropCategoryChange()">
                        <option *ngFor="let item of cropCategories" [ngValue]="item.id">{{ item.name }}</option>
                    </select>
                    <app-form-error-block [control]="form.get('cropCategoryId')" [formSubmitted]="submitted"></app-form-error-block>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6">
                    <label for="cropId" translate>crop.name</label>
                    <select id="cropId" class="form-control custom-select" formControlName="cropId" (change)="onCropChange()">
                        <option *ngFor="let item of crops" [ngValue]="item.id">{{ item.name }}</option>
                    </select>
                    <app-form-error-block [control]="form.get('cropId')" [formSubmitted]="submitted"></app-form-error-block>
                </div>

                <div class="col-sm-6">
                    <label for="cropVarietyModel" translate>crop.variety</label>
                    <select id="cropVarietyModel" class="form-control custom-select" formControlName="cropVarietyModel">
                        <option *ngFor="let item of varieties" [ngValue]="item.id">{{ item.name }}</option>
                    </select>
                    <app-form-error-block [control]="form.get('cropVarietyModel')" [formSubmitted]="submitted"></app-form-error-block>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6">
                    <label for="startDate" translate>agro-work.start-date</label>
                    <input id="startDate" type="date" class="form-control checking-field" formControlName="startDate" />
                    <app-form-error-block [control]="form.get('startDate')" [formSubmitted]="submitted"></app-form-error-block>
                </div>

                <div class="col-sm-6">
                    <label for="endDate" translate>agro-work.end-date</label>
                    <input id="endDate" type="date" class="form-control checking-field" formControlName="endDate" />
                    <app-form-error-block [control]="form.get('endDate')" [formSubmitted]="submitted"></app-form-error-block>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6">
                    <label for="yieldGoal" translate>agro-work.yield-goal</label>
                    <input id="yieldGoal" class="form-control checking-field" formControlName="yieldGoal" type="number"/>
                    <app-form-error-block [control]="form.get('yieldGoal')" [formSubmitted]="submitted"></app-form-error-block>
                </div>

            </div>


            <div class="form-group">
                <button class="btn btn-danger" *ngIf="!isNew" (click)="remove()" translate>action.remove</button>
                <button class="btn btn-success pull-right" (click)="save(form)" translate>action.save</button>
                <button class="btn btn-default mr-1 pull-right" (click)="back()" translate>action.back</button>
            </div>

        </div>
    </div>

</form>