<form [formGroup]="form" *ngIf="model" (keydown.enter)="$event.preventDefault()">

    <div widget class="card bottom-30">
        <div class="card-header">
            <span translate>branch.branch</span>
            <div class="widget-controls">
                <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
                <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
            </div>
        </div>
        <div class="card-body widget-body">

            <div class="form-group row">
                <div class="col-sm-12">
                    <label for="name" translate>info.name</label>
                    <input id="name" class="form-control checking-field" formControlName="name"
                           (change)="onNameChange()">
                    <app-form-error-block [control]="form.get('name')"
                                          [formSubmitted]="submitted"></app-form-error-block>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-12">
                    <label for="description" translate>info.description</label>
                    <textarea id="description" class="form-control" formControlName="description"></textarea>
                    <app-form-error-block [control]="form.get('description')"
                                          [formSubmitted]="submitted"></app-form-error-block>
                </div>
            </div>


            <div class="form-group row">

                <div class="col-sm-4">
                    <label for="county" translate>geo.county</label>
                    <select id="county" class="form-control custom-select"
                            formControlName="county" (change)="onCountyChange()">
                        <option *ngFor="let item of counties" [ngValue]="item.id">{{ item.name }}</option>
                    </select>
                    <app-form-error-block [control]="form.get('county')"
                                          [formSubmitted]="submitted"></app-form-error-block>
                </div>

                <div class="col-sm-4">
                    <label for="city" translate>geo.village-city</label>
                    <select id="city" class="form-control custom-select" formControlName="city">
                        <option *ngFor="let item of cities" [ngValue]="item.id">{{ item.name }}</option>
                    </select>
                    <app-form-error-block [control]="form.get('city')"
                                          [formSubmitted]="submitted"></app-form-error-block>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6">
                    <label for="address" translate>geo.address</label>
                    <input id="address" class="form-control checking-field" formControlName="address">
                    <app-form-error-block [control]="form.get('address')"
                                          [formSubmitted]="submitted"></app-form-error-block>
                </div>
                <div class="col-sm-6">
                    <label for="phones" translate>contact.phone</label>
                    <input id="phones" class="form-control checking-field" formControlName="phones">
                    <app-form-error-block [control]="form.get('phones')"
                                          [formSubmitted]="submitted"></app-form-error-block>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-12">
                    <label for="parent" translate>tree.parent</label>
                    <select id="parent" class="form-control" formControlName="parentId">
                        <option *ngFor="let p of parents" [ngValue]="p.id">{{ p.name }}</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <button class="btn btn-danger" *ngIf="!isNew" (click)="remove()" translate>action.remove</button>
                <button class="btn btn-success pull-right" (click)="save(form)" translate>action.save</button>
            </div>

        </div>
    </div>

</form>