<form [formGroup]="form" *ngIf="model" (keydown.enter)="$event.preventDefault()">

  <div widget class="card bottom-30">
    <div class="card-header">
      <span translate>branch.branch</span>
      <div class="widget-controls">
        <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
        <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
        <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
        <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
        <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
      </div>
    </div>
    <div class="card-body widget-body">

      <div class="form-group row">
        <div class="col-sm-12">
          <label for="name">Name</label>
          <div>
            <input id="name" class="form-control checking-field" formControlName="name"
                   (change)="onNameChange()">
          </div>
          <app-form-error-block [control]="form.get('name')" [formSubmitted]="submitted"
                                [title]="'Name'"></app-form-error-block>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-12">
          <label for="description">Description</label>
          <div>
            <textarea id="description" class="form-control" formControlName="description"></textarea>
          </div>
          <app-form-error-block [control]="form.get('description')" [formSubmitted]="submitted"
                                [title]="'Description'"></app-form-error-block>
        </div>
      </div>


      <div class="form-group row">
        <div class="col-sm-4">
          <label for="country">Country</label>
          <div>
            <input id="country" class="form-control checking-field" formControlName="country" maxlength="2">
          </div>
          <app-form-error-block [control]="form.get('country')" [formSubmitted]="submitted"
                                [title]="'Country'"></app-form-error-block>
        </div>

        <div class="col-sm-4">
          <label for="county">County</label>
          <div>
            <input id="county" class="form-control checking-field" formControlName="county" maxlength="2">
          </div>
          <app-form-error-block [control]="form.get('county')" [formSubmitted]="submitted"
                                [title]="'County'"></app-form-error-block>
        </div>

        <div class="col-sm-4">
          <label for="villageCity">Village City</label>
          <div>
            <input id="villageCity" class="form-control checking-field" formControlName="villageCity">
          </div>
          <app-form-error-block [control]="form.get('villageCity')" [formSubmitted]="submitted"
                                [title]="'Village City'"></app-form-error-block>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-6">
          <label for="address">Address</label>
          <div>
            <input id="address" class="form-control checking-field" formControlName="address">
          </div>
          <app-form-error-block [control]="form.get('address')" [formSubmitted]="submitted"
                                [title]="'Address'"></app-form-error-block>
        </div>
        <div class="col-sm-6">
          <label for="phones">Phones</label>
          <div>
            <input id="phones" class="form-control checking-field" formControlName="phones">
          </div>
          <app-form-error-block [control]="form.get('phones')" [formSubmitted]="submitted"
                                [title]="'Phones'"></app-form-error-block>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-12">
          <label for="parent">Parent</label>
          <div>
            <select id="parent" class="form-control" formControlName="parentId">
              <option *ngFor="let p of parents" [ngValue]="p.id">{{ p.name }}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="form-group">
        <button class="btn btn-danger" *ngIf="!isNew" (click)="remove()" translate>action.remove</button>
        <button class="btn btn-success pull-right" (click)="save(form)" translate>action.save</button>
      </div>

    </div>
  </div>

</form>