<div widget class="card bottom-30" *ngIf="parcelSeasonModel">
    <div class="card-header">
        <span translate>nav.field-diagnosis</span>
    </div>
    <div class="card-body widget-body">

        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" [class.active]="tabIndex == 1" (click)="changeTab(1)" translate>parcel.general-tab</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [class.active]="tabIndex == 2" (click)="changeTab(2)"translate>parcel.map-tab</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" *ngIf="tabIndex == 1 || loadedTabs[1]" [class.active]="tabIndex == 1">
                <app-parcel-diagnosis-summarizer [parcelSeasonModel]="parcelSeasonModel"></app-parcel-diagnosis-summarizer>
                <app-expense-list [readOnlyMode]="true" [singleSeasonMode]="true" [shortMode]="true" [cropSeasonId]="parcelSeasonModel.id"></app-expense-list>
                <app-parcel-fertilizer-application [parcelSeasonModel]="parcelSeasonModel"></app-parcel-fertilizer-application>
            </div>
            <div class="tab-pane" *ngIf="tabIndex == 2  || loadedTabs[2]" [class.active]="tabIndex == 2">
                <app-parcel-diagnosis-map [parcelDiagnosisModel]="parcelDiagnosisModel"></app-parcel-diagnosis-map>
            </div>
        </div>

        <div class="mt-3">
            <!--<button class="btn btn-danger" *ngIf="parcelDiagnosisModel.id != null" (click)="remove()" translate>action.remove</button>-->
            <button class="btn btn-success pull-right" (click)="save()" translate>action.save</button>
            <button class="btn btn-default mr-1 pull-right" (click)="back()" translate>action.back</button>
        </div>

    </div>
</div>