<div widget class="card bottom-30">
  <div class="card-header">
    <span>Map</span>
    <div class="widget-controls">
      <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
      <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
      <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
    </div>
  </div>
  <div class="card-body widget-body">

    <ngui-map zoom="10" [center]="center" mapTypeId="terrain" scrollwheel="true">
      <polyline [editable]="false"
                [path]="polylinePath"
                [geodesic]="true"
                [strokeColor]="'#FF0000'"
                [strokeOpacity]="1"
                [strokeWeight]="2">
      </polyline>

      <polygon *ngFor="let p of parcels"
               (click)="onParcelClick(p, $event)"
               [title]="'abc'"
               [id]="'idabc'"
               [paths]="p.paths"
               [strokeColor]="'#FFC107'"
               [strokeOpacity]="0.8"
               [strokeWeight]="2"
               [fillColor]="p.fillColor"
               [fillOpacity]="0.35">
      </polygon>

      <marker *ngFor="let m of markers"
              [position]="m.position"
              [title]="m.message"></marker>
    </ngui-map>

  </div>
</div>

<div #infoBody>
    <br>
    <table class="table table-bordered table-hover" *ngIf="infoParcel">
        <tr>
            <td>Name</td>
            <td>{{ infoParcel.name }}</td>
        </tr>
        <tr>
            <td>Area</td>
            <td>{{ infoParcel.area }}</td>
        </tr>
        <tr>
            <td>Cadaster Number</td>
            <td>{{ infoParcel.cadasterNumber }}</td>
        </tr>
        <tr>
            <td>Land Worthiness Points</td>
            <td>{{ infoParcel.landworthinessPoints }}</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>{{ infoParcel.description }}</td>
        </tr>
    </table>
</div>