<div widget class="card">
    <div class="card-header">
        <span translate>reminder.title</span>
        <div class="widget-controls">
            <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
            <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
            <a data-widgster="fullscreen" href="#" class="transition"
               (click)="adjustGridSize()"><i class="fa fa-expand"></i></a>
            <a data-widgster="restore" href="#" class="transition"
               (click)="adjustGridSize()"><i class="fa fa-compress"></i></a>
            <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
        </div>
    </div>
    <div class="card-body widget-body">
        <div class="card-body">
            <div id="calendar"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="event-modal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header modal-success d-block">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                </button>
                <h5 class="modal-title" translate>reminder.event</h5>
            </div>
            <div class="modal-body">
                <form [formGroup]="eventForm" *ngIf="eventForm">
                    <div class="form-group">
                        <label for="work-type" translate>reminder.event-type</label>
                        <select id="work-type" class="form-control custom-select" formControlName="workTypeId">
                            <option *ngFor="let workType of workTypeModels"
                                    [ngValue]="workType.id">{{workType.nameRo}}
                            </option>
                        </select>
                        <app-form-error-block [control]="eventForm.get('workTypeId')" [formSubmitted]="formSubmitted">
                        </app-form-error-block>
                    </div>
                    <div class="form-group">
                        <label for="work-type" translate>reminder.event-title</label>
                        <input class="form-control" formControlName="title">
                        <app-form-error-block [control]="eventForm.get('title')" [formSubmitted]="formSubmitted"
                                              [title]="'agro-task-calendar.event-title'"></app-form-error-block>
                    </div>
                    <div class="form-group">
                        <label for="work-type" translate>reminder.event-description</label>
                        <input class="form-control" formControlName="description">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-sm mr-auto" data-dismiss="modal"
                        *ngIf="event.id != null"
                        (click)="remove()" translate>action.remove</button>
                <button (click)="saveEvent()" class="btn btn-success">OK</button>
            </div>
        </div>
    </div>
</div>


