<div class="row">
    <div class="col">
        <div widget class="card">
            <div class="card-header">
                <span translate>nav.harvesting-forecasting</span>
                <div class="widget-controls">
                    <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                    <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
                </div>
            </div>
            <div class="card-body widget-body">

                <form (ngSubmit)="onSubmit()" [formGroup]="form" *ngIf="form">

                    <div class="form-group row text-sm-right">
                        <label class="col-sm-3 form-control-label m-t-5" translate>parcel.parcels</label>
                        <div class="col-sm-9 text-left">
                            <div class="form-group">
                                <ss-multiselect-dropdown [options]="parcels" *ngIf="parcels"
                                                         [texts]="parcelControlTexts"
                                                         [settings]="parcelControlSettings"
                                                         formControlName="parcels">
                                </ss-multiselect-dropdown>
                                <app-form-error-block [control]="form.get('parcels')"
                                                  [formSubmitted]="formSubmitted">
                                </app-form-error-block>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row text-sm-right">
                        <label class="col-sm-3 form-control-label m-t-5" translate>crop.category</label>
                        <div class="col-sm-3 text-left">
                            <div class="form-group">
                                <select id="crop-category" class="form-control custom-select"
                                        (change)="onCropCategoryChange()"
                                        formControlName="cropCategoryId">
                                    <option *ngFor="let category of categories"
                                            [ngValue]="category.id">{{category.nameRo}}
                                    </option>
                                </select>
                                <app-form-error-block [control]="form.get('cropCategoryId')"
                                                  [formSubmitted]="formSubmitted">
                                </app-form-error-block>
                            </div>
                        </div>

                        <label class="col-sm-3 form-control-label m-t-5" translate>crop.name</label>
                        <div class="col-sm-3 text-left">
                            <div class="form-group">
                                <select id="crop-name" class="form-control custom-select"
                                        (change)="onCropChange()"
                                        formControlName="cropId" required>
                                    <option *ngFor="let crop of crops"
                                            [ngValue]="crop.id">{{crop.nameRo}}
                                    </option>
                                </select>
                                <app-form-error-block [control]="form.get('cropId')"
                                                  [formSubmitted]="formSubmitted">
                                </app-form-error-block>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row text-sm-right" >
                        <label class="col-sm-3 form-control-label m-t-5" translate>forecast.harvesting_year</label>
                        <div class="col-sm-3 text-left">
                            <input class="form-control checking-field" type="number" formControlName="harvestingYear">
                            <app-form-error-block [control]="form.get('harvestingYear')"
                                              [formSubmitted]="formSubmitted">
                            </app-form-error-block>
                        </div>

                        <label class="col-sm-3 form-control-label m-t-5" *ngIf="cropVarieties && cropVarieties.length > 0" translate>crop.variety</label>
                        <div class="col-sm-3 text-left" *ngIf="cropVarieties && cropVarieties.length > 0">
                            <select id="crop-variety" class="form-control custom-select"
                                    formControlName="cropVarietyId">
                                <option selected></option>
                                <option *ngFor="let variety of cropVarieties"
                                        [ngValue]="variety.id">{{variety.nameRo}}
                                </option>
                                <app-form-error-block [control]="form.get('cropVarietyId')"
                                                  [formSubmitted]="formSubmitted">
                                </app-form-error-block>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row text-sm-right">
                        <label class="col-sm-3 form-control-label m-t-5" translate>forecast.name</label>
                        <div class="col-sm-9 text-left">
                            <input class="form-control checking-field" formControlName="name">
                            <app-form-error-block [control]="form.get('name')"
                                              [formSubmitted]="formSubmitted">
                            </app-form-error-block>
                        </div>
                    </div>

                    <div class="form-group row text-sm-right">
                        <label class="col-sm-3 form-control-label m-t-5" translate>forecast.additional_info</label>
                        <div class="col-sm-9 text-left">
                            <textarea class="form-control"
                                      formControlName="description">
                            </textarea>
                            <app-form-error-block [control]="form.get('description')"
                                              [formSubmitted]="formSubmitted">
                            </app-form-error-block>
                        </div>
                    </div>

                    <div class="form-group row text-sm-right">
                        <label class="col-sm-3 form-control-label m-t-5" translate><span translate>forecast.harvest</span> / <span translate>forecast.hectar</span> </label>
                        <div class="col-sm-3 text-left">
                            <input class="form-control checking-field" type="number" formControlName="quantityHectar">
                            <app-form-error-block [control]="form.get('quantityHectar')"
                                              [formSubmitted]="formSubmitted">
                            </app-form-error-block>
                        </div>

                        <label class="col-sm-3 form-control-label m-t-5" translate>forecast.unit_of_measure</label>
                        <div class="col-sm-3 text-left">
                            <select class="form-control checking-field" formControlName="unitOfMeasure">
                                <option value="t" translate>unit-of-measure.t</option>
                                <option value="q" translate>unit-of-measure.q</option>
                                <option value="kg" translate>unit-of-measure.kg</option>
                            </select>

                            <app-form-error-block [control]="form.get('unitOfMeasure')"
                                              [formSubmitted]="formSubmitted">
                            </app-form-error-block>
                        </div>
                    </div>

                    <div class="form-group row text-sm-right">
                        <label class="col-sm-3 form-control-label m-t-5" translate>forecast.selling_price</label>
                        <div class="col-sm-3 text-left">
                            <input class="form-control checking-field" type="number" formControlName="unitPrice">
                            <app-form-error-block [control]="form.get('unitPrice')"
                                              [formSubmitted]="formSubmitted">
                            </app-form-error-block>
                        </div>

                        <label class="col-sm-3 form-control-label m-t-5" translate>forecast.currency</label>
                        <div class="col-sm-3 text-left">
                            <select class="form-control checking-field" formControlName="currency">
                                <option value="mdl" translate>unit-of-measure.mdl</option>
                                <option value="eur" translate>unit-of-measure.eur</option>
                                <option value="ron" translate>unit-of-measure.ron</option>
                            </select>

                            <app-form-error-block [control]="form.get('currency')"
                                              [formSubmitted]="formSubmitted">
                            </app-form-error-block>
                        </div>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-main pull-right" type="submit" translate>action.save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>