<div class="row">
    <div class="col">
        <div widget class="card">
            <div class="card-header">
                <span translate>nav.harvesting-forecasting</span>
                <div class="widget-controls">
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                    <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                    <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="card-body widget-body">

                <div class="row justify-content-center">
                    <div class="col-md-9 col-12">

                        <form (ngSubmit)="onSubmit(myForm)" [formGroup]="myForm">

                            <div class="form-group row text-sm-right">
                                <label class="col-sm-3 form-control-label m-t-5" translate>forecast.name</label>
                                <div class="col-sm-8 text-left">
                                    <input class="form-control checking-field" type="text" formControlName="name" required>
                                    <span class="help-block text-danger" *ngIf="myForm.get('name').touched && myForm.get('name').hasError('required')">Field is required</span>
                                </div>
                            </div>

                            <div class="form-group row text-sm-right">
                                <label class="col-sm-3 form-control-label m-t-5" translate>crop.category</label>
                                <div class="col-sm-8 text-left">
                                    <div class="form-group">
                                        <!--<label for="work-type" translate>reminder.event-type</label>-->
                                        <select id="crop-category" class="form-control custom-select" formControlName="cropCategoryId">
                                            <option *ngFor="let category of categoryModels"
                                                    [ngValue]="category.id">{{category.nameRo}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group row text-sm-right">
                                <label class="col-sm-3 form-control-label m-t-5" translate>crop.name</label>
                                <div class="col-sm-8 text-left">
                                    <div class="form-group">
                                        <!--<label for="work-type" translate>reminder.event-type</label>-->
                                        <select id="crop-name" class="form-control custom-select" formControlName="cropId">
                                            <option *ngFor="let crop of cropModels"
                                                    [ngValue]="crop.id">{{crop.nameRo}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row text-sm-right">
                                <label class="col-sm-3 form-control-label m-t-5" translate>crop.variety</label>
                                <div class="col-sm-8 text-left">
                                    <select id="crop-variety" class="form-control custom-select" formControlName="cropVarietyId">
                                        <option *ngFor="let variety of varietyModels"
                                                [ngValue]="variety.id">{{variety.nameRo}}
                                        </option>
                                    </select>
                                </div>
                            </div>


                            <div class="form-group row text-sm-right">
                                <label class="col-sm-3 form-control-label m-t-5" translate>forecast.description</label>
                                <div class="col-sm-8 text-left">
                                    <textarea class="form-control checking-field" type="text" formControlName="description" required></textarea>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-8 mx-auto text-center">
                                    <button class="btn btn-main" type="submit" [disabled]="myForm.invalid">Validate &amp; Submit</button>
                                </div>
                            </div>
                        </form>


                    </div>
                </div>

            </div>
        </div>
    </div>
</div>