<div *ngIf="machinesPresent">
    <div class="card bottom-15">
        <div class="card-body widget-body">

            <button class="btn btn-sm btn-primary" (click)="add()">Add</button>

            <form class="form-inline pull-right">
                <label for="machineIdentifier" class="mr-1">Machine</label>
                <select id="machineIdentifier" name="machineIdentifier" class="form-control" style="width: 150px;"
                        [(ngModel)]="machineIdentifier" (change)="onMachineChange()">
                    <option *ngFor="let i of availableMachineIdentifiers" [ngValue]="i">{{ i }}</option>
                </select>
            </form>

        </div>
    </div>

    <div widget class="card bottom-30">
        <div class="card-header">
            <span>Coordinates</span>
            <div class="widget-controls">
                <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                <a data-widgster="fullscreen" href="#" class="transition" (click)="adjustGridSize()"><i class="fa fa-expand"></i></a>
                <a data-widgster="restore" href="#" class="transition" (click)="adjustGridSize()"><i class="fa fa-compress"></i></a>
                <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
            </div>
        </div>
        <div class="card-body widget-body">

            <ag-grid-angular class="ag-theme-blue" style="width: 100%; height: 250px; min-height: 100%;"
                             *ngIf="options"
                             [gridOptions]="options"
                             [context]="context"
                             (gridReady)="onGridReady($event)"></ag-grid-angular>
        </div>
    </div>

    <div widget class="card bottom-30">
        <div class="card-header">
            <span>Map</span>
            <div class="widget-controls">
                <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
            </div>
        </div>
        <div class="card-body widget-body">

            <ngui-map zoom="10" [center]="mapCenter" mapTypeId="terrain" scrollwheel="false">
                <polyline [editable]="false"
                          [path]="mapPath"
                          [geodesic]="true"
                          [strokeColor]="'#FF0000'"
                          [strokeOpacity]="1"
                          [strokeWeight]="2"></polyline>
            </ngui-map>

        </div>
    </div>
</div>