<div class="row" *ngIf="model">
  <div class="col-12">
    <div widget class="card">
      <div class="card-header">
        <span>Form</span>
        <div class="widget-controls">
          <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
          <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
          <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
          <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
          <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
        </div>
      </div>

      <div class="card-body widget-body">
        <div class="row">
          <div *ngFor="let step of steps; let last = last" class="col-md-3 col-sm-6 col-12 step"
               [class.active]="step.active" [class.valid]="step.valid" [ngClass]="{'last' : last }">
            <div class="step-icon">
              <i class="{{ step.icon }}" aria-hidden="true"></i>
            </div>
            <span class="step-name" [class.active]="step.active" [class.valid]="step.valid">{{step.name}}</span>
          </div>
        </div>

        <div *ngFor="let step of steps" [hidden]="!step.active" class="col form-wizard">
          <div class="row form-title">
            <h4><i class="{{ step.icon }}"></i> {{step.name}}</h4>
          </div>

          <form *ngIf="step.name=='Account Information'" [formGroup]="accountForm">

            <div class="form-group row">
              <div class="col-sm-12">
                <label for="username">Username</label>
                <div>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-user-o"></i></span>
                    </div>
                    <input id="username" class="form-control checking-field" formControlName="username"
                           (change)="validateUsernameToUnique()">
                  </div>
                  <form-error-block [control]="accountForm.get('username')" [formSubmitted]="step.submitted"
                                    [title]="'Username'"></form-error-block>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-sm-12">
                <label for="password">Password</label>
                <div>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-key"></i></span>
                    </div>
                    <input id="password" class="form-control checking-field" formControlName="password" type="password">
                  </div>
                  <form-error-block [control]="accountForm.get('password')" [formSubmitted]="step.submitted"
                                    [title]="'Password'"></form-error-block>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-sm-12">
                <label for="confirmPassword">Confirm Password</label>
                <div>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-key"></i></span>
                    </div>
                    <input id="confirmPassword" class="form-control checking-field" formControlName="confirmPassword" type="password">
                  </div>
                  <form-error-block [control]="accountForm.get('confirmPassword')" [formSubmitted]="step.submitted"
                                    [title]="'Confirm Password'"></form-error-block>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-sm-12">
                <label for="email">Email</label>
                <div>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                    </div>
                    <input id="email" class="form-control checking-field" formControlName="email">
                  </div>
                  <form-error-block [control]="accountForm.get('email')" [formSubmitted]="step.submitted"
                                    [title]="'Email'"></form-error-block>
                </div>
              </div>
            </div>

          </form>

          <form *ngIf="step.name=='Personal Information'" [formGroup]="personalForm">

            <div class="form-group row">
              <div class="col-sm-6">
                <label for="firstName">First Name</label>
                <div>
                  <input id="firstName" class="form-control" formControlName="firstName">
                </div>
              </div>
              <div class="col-sm-6">
                <label for="lastName">Last Name</label>
                <div>
                  <input id="lastName" class="form-control" formControlName="lastName">
                </div>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-sm-12">
                <label for="address">Address</label>
                <div>
                  <input id="address" class="form-control" formControlName="address">
                </div>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-sm-6">
                <label for="phone">Phone</label>
                <div>
                  <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-phone"></i></div>
                    <input id="phone" class="form-control" formControlName="phone">
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <label for="mobilePhone">Mobile Phone</label>
                <div>
                  <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-phone"></i></div>
                    <input id="mobilePhone" class="form-control" formControlName="mobilePhone">
                  </div>
                </div>
              </div>
            </div>

          </form>

          <form *ngIf="step.name=='Tenant Information'" [formGroup]="tenantForm">

            <div class="form-group row">
              <div class="col-sm-12">
                <label for="tenant">Tenant</label>
                <div>
                  <ss-multiselect-dropdown id="tenant"
                                           [options]="tenants"
                                           [settings]="multiSelectSettings"
                                           (ngModelChange)="onTenantChange()"
                                           formControlName="tenants">

                  </ss-multiselect-dropdown>
                  <form-error-block [control]="tenantForm.get('tenants')" [formSubmitted]="step.submitted"
                                    [title]="'Tenant'"></form-error-block>
                </div>
              </div>
            </div>

            <div class="form-group row" *ngIf="model.roleName == 'ROLE_USER'">
              <div class="col-sm-12">
                <label for="branch">Branch</label>
                <div>
                  <ss-multiselect-dropdown id="branch"
                                           [options]="branches"
                                           [settings]="multiSelectSettings"
                                           formControlName="branches">

                  </ss-multiselect-dropdown>
                  <form-error-block [control]="tenantForm.get('branches')" [formSubmitted]="step.submitted"
                                    [title]="'Branch'"></form-error-block>
                </div>
              </div>
            </div>

          </form>

          <div *ngIf="step.name=='Confirm Your Details'" class="row">
            <div class="col-3"><strong class="text-truncate">Username</strong></div>
            <div class="col-9"><i>{{details.username}}</i></div>
            <div class="col-3"><strong class="text-truncate">Email</strong></div>
            <div class="col-9"><i>{{details.email}}</i></div>
            <div class="col-3"><strong class="text-truncate">Phone</strong></div>
            <div class="col-9"><i>{{details.phone}}</i></div>
            <div class="col-3"><strong class="text-truncate">Mobile Phone</strong></div>
            <div class="col-9"><i>{{details.mobilePhone}} &nbsp;</i></div>
            <div class="col-3"><strong class="text-truncate">Address</strong></div>
            <div class="col-9"><i>{{details.address}} &nbsp;</i></div>
          </div>

        </div>

        <div class="row">
          <div class="col-12">
            <button class="btn btn-danger pull-left mr-2" *ngIf="model.id != null" (click)="remove()">Remove</button>

            <button class="btn btn-primary pull-left" (click)="prev()"><i class="fa fa-chevron-left arrow"></i>&nbsp; Prev Step</button>
            <button *ngIf="!steps[steps.length-1].active" class="btn btn-primary pull-right" (click)="next()">Next Step &nbsp;<i class="fa fa-chevron-right arrow"></i></button>
            <button *ngIf="steps[steps.length-1].active" class="btn btn-primary pull-right" (click)="confirm()">Confirm &nbsp;<i class="fa fa-check arrow"></i></button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>