<form [formGroup]="form" *ngIf="model" (keydown.enter)="$event.preventDefault()">

    <div widget class="card bottom-30">
        <div class="card-header">
            <span translate>crop.variety</span>
            <div class="widget-controls">
                <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
            </div>
        </div>
        <div class="card-body widget-body">

            <div class="form-group row">
                <div class="col-sm-6">
                    <label for="cropCategoryId" translate>crop.category</label>
                    <select id="cropCategoryId" class="form-control custom-select" formControlName="cropCategoryId">
                        <!--<option value="">Select Value</option>-->
                        <option *ngFor="let item of categorySelectItems" value="{{item.id}}">{{ item.name }}</option>
                    </select>
                    <app-form-error-block [control]="form.get('cropCategoryId')" [formSubmitted]="submitted"></app-form-error-block>
                </div>

                <div class="col-sm-6">
                    <label for="cropId" translate>crop.name</label>
                    <select id="cropId" class="form-control custom-select" formControlName="cropId">
                        <!--<option value="">Select Value</option>-->
                        <option *ngFor="let item of cropSelectItems" value="{{item.id}}">{{ item.name }}</option>
                    </select>
                    <app-form-error-block [control]="form.get('cropId')" [formSubmitted]="submitted"></app-form-error-block>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6">
                    <label for="nameRo" translate>info.name-ro</label>
                    <input id="nameRo" class="form-control checking-field" formControlName="nameRo" />
                    <app-form-error-block [control]="form.get('nameRo')" [formSubmitted]="submitted"></app-form-error-block>
                </div>
                <div class="col-sm-6">
                    <label for="nameRu" translate>info.name-ru</label>
                    <input id="nameRu" class="form-control checking-field" formControlName="nameRu" />
                    <app-form-error-block [control]="form.get('nameRu')" [formSubmitted]="submitted"></app-form-error-block>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-12">
                    <label for="descriptionRo" translate>info.description-ro</label>
                    <input id="descriptionRo" class="form-control checking-field" formControlName="descriptionRo" />
                    <app-form-error-block [control]="form.get('descriptionRo')" [formSubmitted]="submitted"></app-form-error-block>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-12">
                    <label for="descriptionRu" translate>info.description-ru</label>
                    <input id="descriptionRu" class="form-control checking-field" formControlName="descriptionRu" />
                    <app-form-error-block [control]="form.get('descriptionRu')" [formSubmitted]="submitted"></app-form-error-block>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6">
                    <label for="seedConsumptionHa" translate>crop.seed-consumption-ha</label>
                    <input id="seedConsumptionHa" class="form-control checking-field" formControlName="seedConsumptionHa" type="number"/>
                    <app-form-error-block [control]="form.get('seedConsumptionHa')" [formSubmitted]="submitted"></app-form-error-block>
                </div>

                <div class="col-sm-6">
                    <label for="unitOfMeasure" translate>unit-of-measure.unit-long</label>
                    <select id="unitOfMeasure" class="form-control custom-select" formControlName="unitOfMeasure">
                        <option value="">Select Value</option>
                        <option *ngFor="let item of unitOfMeasureSelectItems" value="{{item.id}}">{{ item.name }}</option>
                    </select>
                    <app-form-error-block [control]="form.get('unitOfMeasure')" [formSubmitted]="submitted"></app-form-error-block>
                </div>
            </div>


            <div class="form-group">
                <button class="btn btn-danger" *ngIf="!isNew" (click)="remove()" translate>action.remove</button>
                <button class="btn btn-success pull-right" (click)="save(form)" translate>action.save</button>
                <button class="btn btn-default mr-1 pull-right" (click)="back()" translate>action.back</button>
            </div>

        </div>
    </div>

</form>