@import "../../theme/styles/variables";

.login-container {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  .card {
    padding: 15px;
    .btn-link {
      padding: 0;
      &.forgot {
        font-size: 14px;
      }
      &:hover {
        color: $main-color;
      }
    }
  }
}

