@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

@import "assets/styles/google-map";
@import "assets/styles/ag-grid";
@import "assets/styles/toastr";
@import "assets/styles/font-awesome";

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background: #777;
  border: 0 none #ffffff;
  border-radius: 0;
  &:hover {
    background: #666666;
  }
  &:active {
    background: #333333;
  }
}

::-webkit-scrollbar-track {
  background: #eee;
  border: 0 none #ffffff;
  border-radius: 0;
  &:hover {
    background: #cccccc;
  }
  &:active {
    background: #888888;
  }
}

::-webkit-scrollbar-corner {
  background: transparent;
}