.ag-small-padding {
  .ag-header-cell, .ag-header-group-cell, .ag-cell {
    padding-left: 4px !important;
    padding-right: 0px !important;
  }
}

// agGroupCellRenderer, parent row - bold
.ag-row-group-indent-0 .ag-group-value {
  font-weight: bold;
}

.ag-cell-edit-input {
  height: 100% !important;
}